//COLORS
$color-blue: #4c5562;
$color-gray-lighter: #4c5562;
$color-gray: #dcdedd;
$color-gray-darker: #2e343c;
$color-salmon: #eba392;
$color-seafoam: #778e8a;
$color-white: #dcdedd;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
